<% provide( :title, "Sign in") %>

<%= form_tag sessions_path do%>
  <h5>Sign in</h5>
  <ul>
    <li>
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </li>
    <li>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </li>
  </ul>
  <div class="signin-button">
    <p>New user? <%= link_to "Sign up now!", signup_path %><p>
    <%= submit_tag "Sign in", class: "btn" %>
  </div>
<% end %>
