<% provide(:title, "Account") %>
<% content_for :mixpanel_tracking do %>
  <script type="text/javascript">
      $(document).ready( function(){
        mixpanel.track("Seeing Edit Account Info Page");
        mixpanel.track_forms("#new_word_search_puzzle", "Edit Account Info Form Submission");
      });
   </script>
<% end %>

<%= form_for(@user) do |f| %>
  <h5>Your Account Details</h5>
  <% if current_user.subscription.paid_user? %>
    <div class="alert alert-success">
      Paid Account.  If you have questions about your account you can send an email for <%= link_to "support.", "mailto:support@" + request.host.to_s %>
    </div>
  <% else %>
    <div class="alert alert-error">
      You are on a Trial Account.  <%= link_to "Click here", purchase_path %> if you want to buy Search Word Creator!
    </div>
  <% end %> 

  <%= render 'fields', f: f %>
	
  <%= f.submit "Change My Details", class: "btn" %>
<% end %>
