<% provide(:title, 'Create custom search word puzzles with Search Word Creator') %>
<% provide(:page_type, 'page') %>
<% content_for :sidebar do %>
<div id="sidebar" class="col-side left">
	<div class="widget">
		<h2>Step 2 of 3</h2>
		<ul>
			<li>
				<p>
					All printed puzzles will be different!
				</p>
				<br/>
				<p>
					Each puzzle will be printed with its solutions.
				</p>
				<br/>
				<p>
					Scroll down for a list of all of the words you added.  Remember, not all of the words you added will appear in the puzzle, since word search puzzles have limited space!
				</p>
			</li>
		</ul>
	</div>
</div>
<% end %>
<%= form_tag print_path do%>
<ul>
	<li>
  <%= label_tag "Total Number of Puzzles" %>
  <%= text_field_tag :num_puzzles, "1" %>
	</li>
	<%= hidden_field_tag :word_search_puzzle_id, @word_search_puzzle.id %>

  <%= submit_tag "Print Puzzles", class: "btn btn-large btn-primary" %>
</ul>
<% end %>

<h1>Words You've Added</h1>
<div class="entry">
	<ul>
	  <% @words.each do |word| %>
			<li><%=  word %></li>
		<% end %>
	</ul>
</div>
<%= debug(@word_search_puzzle) if Rails.env.development? %>