<% provide(:title, "Free printable search word puzzles") %>
<% provide(:page_type, 'page') %>
<% provide(:meta_description, "Over #{@puzzle_count} free, printable word search puzzles available in #{@puzzle_categories.count} categories for ESL teachers.") %>
<% provide(:meta_keywords, 'esl, teaching activity, tefl, search word creator, word search creator, word find creator, search word puzzle, word search puzzle, word find puzzle, teaching, activities, teaching activity, printable, print, printing') %>
<% content_for :mixpanel_tracking do %>
	<script type="text/javascript">
  	  $(document).ready( function(){
        mixpanel.track("Seeing Word Search Puzzle List"});
      });
  </script>
<% end %>
<% content_for :sidebar do %>
	<div id="sidebar" class="col-side left">
		<div class="widget">
			<h2>Get Started!</h2>
			<ul>
				<li>
					<p>
						Start using Search Word Creator to Create your own <strong>printable search word puzzles.</strong>
					</p>
				</li>
			</ul>
		</div>
	</div>
<% end %>

<h1>Free Printable Search Word Puzzles</h1>
<br/>
<p><strong>Search Word Creator</strong> lets you create and customize <strong>printable word search puzzles</strong>.  Below are the categories of puzzles that we created for you.</p>
<br/>
<p>Click on the category below to see the available pre-made puzzles, ready for printing and using within seconds!</p>
<br/>

<div class="alert alert-info">
	<h3 style="text-align: center;">We have <%= pluralize(@puzzle_count, "puzzle") %> in <%= pluralize(@puzzle_categories.count, "category") %>!</h3>
</div>

<div class="promo-row">
<% @puzzle_categories.each_with_index do |category, index| %>
	<% if index % 3 == 0 && index != 0 %>
	</div>
	<div class="promo-row">
	<% end %>
	<%= link_to category_path(category[:name].category_to_link), class: "category" do %>
		<%= category[:name] %> 
		<span class="puzzle-count"><%= pluralize(category[:count], 'puzzle') %> </span>
	<% end %>
<% end %>
</div>