<% provide(:title, 'Create custom search word puzzles with Search Word Creator') %>
<% provide(:page_type, 'page') %>
<% content_for :mixpanel_tracking do %>
	<script type="text/javascript">
			$(document).ready( function(){
        mixpanel.track("Seeing Print Puzzles Page");
        mixpanel.track_links(".download-puzzles-link", "Clicked Link to Download Puzzles", 
        	function(ele) { 
        		mixpanel.people.increment("Downloaded Puzzle PDFs")
        		return { }
        	}
        );
      });
   </script>
<% end %>
<% content_for :sidebar do %>
<div id="sidebar" class="col-side left">
	<div class="widget">
		<h2>Step 3 of 3</h2>
		<ul>
			<li>
				<p>
					You're almost done!
				</p>
				<br/>
				<p>
					After you download your puzzles, you can open them and print them out.
				</p>
				<br/>
				<p>
					99% of computers can open these files immediately.  If you can't, you may need to download Adobe Reader.  You can <a href="http://get.adobe.com/reader/">get it here</a>.
				</p>
			</li>
		</ul>
	</div>
</div>
<% end %>


<%if current_user.first_login? %>
	<!-- Google Code for User Signup Conversion Page -->
	<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 1004188671;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "sDyCCLH38AUQ_-fq3gM";
		var google_conversion_value = 0;
		/* ]]> */
	</script>
	<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
		<div style="display:inline;">
			<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1004188671/?value=0&amp;label=sDyCCLH38AUQ_-fq3gM&amp;guid=ON&amp;script=0"/>
		</div>
	</noscript>
<% end %>
<h1>Ready to download!</h1>
<br/>
<p>Your puzzles are ready to download!  Click the huge button below to download your puzzles now.  Once downloaded, open them and then print!</p>
<%= link_to "Download Your Puzzles!", download_path(@file_name), class: "download-puzzles-link" %>
	
<div class="alert alert-nofity">
	<h1>Want more ready-made puzzles?</h1>
	<br/>
	<p>We have <%= pluralize(@puzzle_count, "puzzle") %> in <%= pluralize(@puzzles_category_count, "category") %>!  Go to the <%= link_to "main index", word_search_puzzles_path %> to see them all!</p>
</div>
<div class="alert alert-info">
	<h1>Want to make more of your own?</h1>
	<br/>
	<p>Just <%= link_to "click here", new_word_search_puzzle_path %> to start again and enter all of your own words for a custom set of puzzle!</p>
</div>