<% provide(:title, "#{@puzzle_name.titlecase} search word puzzles") %>
<% provide(:page_type, 'page') %>

<% meta_desc = "" %>
<% @word_search_puzzle.words.each_with_index do |word, index| 
	break if index == 4	%>
	<% if index == 3 || index == @word_search_puzzle.words.length-2 %>
		<% meta_desc += "and #{word.titlecase}." %>
	<% else %>
		<% meta_desc += "#{word.titlecase}, " %>
	<% end %>
<% end %></p>

<% provide(:meta_description, "A free, printable #{@category.link_to_category} word search puzzle for ESL teachers, including the words #{meta_desc}") %>
<% provide(:meta_keywords, "#{@category.link_to_category}, esl, teaching activity, tefl, search word creator, word search creator, word find creator, search word puzzle, word search puzzle, word find puzzle, teaching, activities, teaching activity, printable, print, printing") %>
<% content_for :mixpanel_tracking do %>
	<script type="text/javascript">
  	  $(document).ready( function(){
        mixpanel.track("Seeing Promo Page", { 'promo puzzle': "<%= @puzzle_name %>"});
      });
  </script>
<% end %>
<% content_for :sidebar do %>
	<div id="sidebar" class="col-side left">
		<div class="widget">
			<h2>Get Started!</h2>
			<ul>
				<li>
					<p>
						Start using Search Word Creator to Create your own <strong>printable search word puzzles.</strong>
					</p>
				</li>
			</ul>
		</div>
	</div>
<% end %>

<h1><%= @puzzle_name %> Search Word Puzzles</h1>
<br/>
<img class="promo-img" src="/assets/puzzle.png" alt="Sample Puzzle"/>
<div class="promo-text">
	<p>These puzzles are about <strong><%= @puzzle_name %></strong>.</p>
	<br/>
	<p>These are some common words or names associated with <strong><%= @puzzle_name %></strong>. These include words like 
	<% @word_search_puzzle.words.each_with_index do |word, index| 
		break if index == 4	%>
		<% if index == 3 || index == @word_search_puzzle.words.length-2 %>
			and <em><%= "#{word.titlecase}." %></em>
		<% else %>
			<em><%= "#{word.titlecase}," %></em>
		<% end %>
	<% end %></p>
	<br/>
	<p>You can create puzzles like these using <strong>Search Word Creator</strong>. You can try it, totally free, for up to 15 puzzles.</p>
	<%= link_to "Print Puzzles", new_promo_word_search_puzzle_path(@word_search_puzzle), class: "promo-print-btn"%>
	<div class="alert alert-info">
		<h3 style="text-align: center;">We have <%= pluralize(@puzzle_count, "puzzle") %> in <%= pluralize(@puzzles_category_count, "category") %>!</h3>
		<br/>
		<p style="text-align: center;">Go to the <%= link_to "main index", word_search_puzzles_path %> to see all <%= pluralize(@puzzles_category_count, "category") %>!</p>
	</div>
</div>