<% provide(:title, "#{@puzzle_name.titlecase} search word puzzles with Search Word Creator") %>
<% provide(:page_type, 'page') %>
<% content_for :mixpanel_tracking do %>
	<script type="text/javascript">
  	  $(document).ready( function(){
        mixpanel.track("Seeing Promo Page", { 'category': "<%= @puzzle_name %>"});
      });
  </script>
<% end %>
<% content_for :sidebar do %>
	<div id="sidebar" class="col-side left">
		<div class="widget">
			<h2>Get Started!</h2>
			<ul>
				<li>
					<p>
						Start using Search Word Creator to Create your own <strong>printable search word puzzles.</strong>
					</p>
				</li>
			</ul>
		</div>
	</div>
<% end %>

<h1><%= @puzzle_name %> Search Word Puzzles</h1>
<br/>
<img class="promo-img" src="/assets/puzzle.png" alt="Sample Puzzle"/>
<div class="promo-text">
	<p>These puzzles are about <%= @puzzle_name %>.</p>
	<br/>
	<p>These are some common words or names associated with <%= @puzzle_name %>. These include words like 
	<% @word_search_puzzle.words.each_with_index do |word, index| 
		break if index == 4	%>
		<% if index == 3 || index == @word_search_puzzle.words.length-2 %>
			<%= "and #{word.titlecase}." %>
		<% else %>
			<%= "#{word.titlecase}," %>
		<% end %>
	<% end %></p>
	<br/>
	<p>You can create puzzles like these using Search Word Creator. You can try it, totally free, for up to 15 puzzles.</p>
	<%= link_to "Print Puzzles", new_promo_word_search_puzzle_path(@word_search_puzzle), class: "promo-print-btn"%>
</div>