<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<meta content="text/html; charset=UTF-8" />
	<title><%= yield(:title) %> | Search Word Creator</title>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<% # Turn this javascript include conditional only to be shown on purchase page. %>
	<%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
	<%= csrf_meta_tags %>
	<%= tag :meta, name: "stripe-key", content: ENV['STRIPE_PUBLISHABLE_KEY'] %>
	<!--[if IE]>
	<script src="js/html5.js" type="text/javascript"></script>
	<![endif]-->
	<!--[if lt IE 9]>
	<link href="css/saas-ie-color.css" rel="stylesheet" type="text/css" media="all" />
	<![endif]-->
	<!--[if lt IE 8]>
	<script src="js/saas-ie7.js" type="text/javascript"></script>
	<![endif]-->
	<%= render 'layouts/google_analytics' %>
	<%= render 'layouts/mixpanel' %>
</head>
<body class="<%= yield(:page_type) %>">
	<%= render partial: 'layouts/header', 
						 locals: { is_plans_page: yield(:page_type) == "page plans",
											 title: yield(:page_title) } %>
	<!-- div start container -->
	<div class="container">
		<div class="center">
			<%= yield :sidebar %>
			<div class="col-main">
				<% flash.each do |key, value| %>
				  <%= content_tag(:div, value, class: "alert alert-#{key}") %>
				<% end %>
				<%= yield %>
			</div>
		</div>
	</div>
	<!--div.container end -->
	<%= render 'layouts/footer' %>
</body>
</html>